{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "globals": {
   "window":true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0
  }
}