// Constants
$grey: #4b4a4a;
$darken-grey: #323232;
$lighten-grey: #eee;

$red: #db4c48;
$darken-red: #872727;

$blue: #328dc1;
$darken-blue: #235e81;

$green: #9dc263;
$darken-green: #67823d;

$yellow: #eab943;
$darken-yellow: #aa812e;

$thin: 300;
$medium: 500;
$bold: 700;