@import "./consts.scss";

.sidebar {
  position: absolute;
  z-index: 2;
  background: #000;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  padding: 2.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s ease-in;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  @media (min-width: 768px) {
    width: 35vw;

  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    .go-back-arr {
      background: transparent;
      color: #fff;
      font-size: 2rem;
    }
  }

  .sidebar-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      max-width: 400px;
      @media (min-width: 768px) {
        max-width: none;
      }

      .title {
        font-weight: $thin;
        margin-bottom: 1.5rem;
      }

      .info {
        margin-bottom: 1.5rem;

        label {
          font-family: 'Oswald', sans-serif;
          user-select: none;

          &.label-with-checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            div {
              cursor: pointer;
            }

            .checkbox {
              margin-right: 0.5rem;
            }

            a {
              color: $blue;
              font-weight: $bold;
              text-decoration: none;
              font-family: 'Oswald', sans-serif;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          p {
            font-family: 'Oswald', sans-serif;
            margin-bottom: 0.5rem;
          }

          input {
            width: 100%;
            border: 2px solid rgba(225, 225, 225, .75);
            background: transparent;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            height: 3.5rem;
            padding: 1rem;
            margin-bottom: 1rem;

            &.email {
              font-family: 'Zilla Slab', serif;
            }

            &.password {
              letter-spacing: 3px;
            }

            &:hover, &:focus, &:active {
              border-color: rgba(225, 225, 225, 1);
            }
          }
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button {
          color: #fff;
          font-family: 'Oswald', sans-serif;
          margin-bottom: 1rem;

          &.main-btn {
            padding: 1rem;
            width: 50%;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: $blue;

            h5 {
              font-family: 'Oswald', sans-serif;
            }

            &:hover {
              background: $darken-blue;
            }
          }

          &.transparent-btn {
            background: transparent;
            padding: 0;
            opacity: 0.7;
            text-decoration: underline;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}